@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layout/advantages-section';
@import './layout/chefs-section';
@import './layout/contact-section';
@import './layout/container';
@import './layout/footer';
@import './layout/form-terms';
@import './layout/formats-sections';
@import './layout/header';
@import './layout/hero-section';
@import './layout/modal';
@import './layout/section';
@import './layout/traditions-section';

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-brand-dark);
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  content: '';
} */
